.preloader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/Preloader_2.gif) 50% 50% no-repeat rgb(255,255,255);
}
.box h1{
  font-size: 23px;
}
.box-heading{
  width: 90%;
}
.row{
  flex-wrap: unset !important;
}
#container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Arial, sans-serif;
}
.page_content {
  width: 800px;
  height: 600px;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
  position: absolute;
}
.pageContainer {
  padding-top: 0;
  padding-right: 1.5625pc;
  padding-left: 1.5625pc;
  padding-bottom: 0;
}
.pageBg{
  position: absolute;
  background-color: #0fa0c5;
  left: 0;
  top: 70px;
  width: 100%;
}
.pageContent{
  z-index: 1;
  right: -17px;
  width: 100%;
  border-style: solid;
  border-color: #f5821f;
  border-radius: 1.25pc;
  border-width: .3125pc;
  position: relative;
  background-color: #fff;
  height: 425.4px;
  padding-right: 0in;
  padding-left: 0in;
}
.carousel-inner {
  height: 100%;
}
.template6_v1{
  font-size: 45px;
}
.itemContainer, .template6_v1 {
  margin-left: 18.75pt;
  margin-top: 2.3125pc;
}
.carousel-inner{
  /* background-image: url(../assets/images/p77e19/p77ex19.png);
  background-repeat: no-repeat;
  background-size: 94% 99%; */
}
*, ::after, ::before {
  box-sizing: unset;
}
.question{
  position: relative;
  padding-top: 0pt;
  padding-right: .625pc;
  padding-bottom: 0pt;
  padding-left: .625pc;
}

.col-md-3{
  width: 21% !important;
  flex: none;
}

.question img{
  width: 100%;
}

.queDropDown {
  position: absolute;
}

.noPadding{
  padding: 0;
}
.yellow{
  width: 100%;
  height: 100%;
  object-fit: cover
}
.select-selected{
  font-size: 30px;
  box-shadow: 0.052083333in 0.3125pc rgb(0 0 0 / 30%);
  cursor: pointer;
  color: #0fa0c5;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: .052083333in;
  padding-right: .052083333in;
  padding-left: .052083333in;
  padding-bottom: .052083333in;
  border-color: #000;
  border-style: solid;
  border-width: .125pc;
  height: 17pt;
  width: 25px;
  transform: translate(73px, -30px);
}
.select-items{
  cursor: pointer;
  transform: translate(73px, 30px);
  font-size: 25px;
  max-height: 260px;
  z-index: 1;
  text-align: center;
  position: relative;
  top: -170px;
  border-image: none;
  border-color: #000;
  border-style: solid;
  border-width: .020833333in;
  background-color: #fff;
}
.select-items div:first-child{
  border-color: #000;
  border-bottom-style: dotted;
}

.disabled{
  opacity: .6 !important;
  cursor: unset !important;
  pointer-events: none;
}

.footer{
  align-items: center;
  overflow: hidden;
  padding-top: 15px;
  margin-top: -15px;
  display: flex;
  background: #deecf6;
  width: 100%;
  position: relative;
}

.img-responsive{
  max-width: 80%;
}

.box1{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  width: 8%;
}

.box3{
  width: 46%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.box2{
  width: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.box4{
  width: 13%;
  text-align: center;
}

.reloadBtnAll, .nextBtn, .backBtn, .showAnsBtn, .reloadBtnScreen {
  cursor: pointer;
}

.pageNumber{
  background-color: #fff;
  line-height: 2.25pc;
  font-size: 15.5pt;
  font-weight: bold;
  border-radius: 13px;
  border-color: #0fa0c5;
  border-style: solid;
  border-width: .03125in;
}

.hide {
    display: none!important;
}

.incorrect-color{
  animation: colorchange 2s;
  animation-iteration-count: 1;
}
@keyframes colorchange
{
  0%   {border-color: red;}
  15%   {border-color: red;}
  25%   {border-color: #000;}
  50% {border-color: red;}
  100%   {border-color: #000;}
}
